* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 1rem;
}

header {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 3rem;
  width: 100%;
  margin-top: 5rem;
}

section {
  display: grid;
  row-gap: 1rem;
  justify-items: center;
}

input {
  height: 35px;
  width: 40%;
  text-align: right;
}

label {
  font-size: 22px;
  width: 40%;
}

button {
  width: 40%;
  place-self: center;
  height: 35px;
}

p {
  display: none;
}
.warning-on {
  display: block;
  font-size: 12px;
  color: red;
  text-align: right;
  width: 40%;
}
